.git
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache/
uploads-admin/
uploads-banners/
uploads-service/
uploads-categories/
uploads-testimonials/
uploads-users/
uploads-workers/
local_data
.env
.env.db