.env
test.py
venv/
uploads/
__pycache__
routers/__pycache__/
veg_dump.sql
veg_mysql.sql
uploads-admin/
uploads-categories/
uploads-testimonials/
alembic/
alembic.ini
.pytest_cache/
tests/
load_tests/
