.env
.env.db
test.py
venv/
uploads/
__pycache__
routers/__pycache__/
veg_dump.sql
veg_mysql.sql
uploads-categories
uploads-service
local_data
uploads-testimonials
uploads-admin
uploads-workers
uploads-testimonials
uploads-banners
uploads-users
alembic/
alembic.ini
.pytest_cache/
tests/
load_tests/
git-history.txt
routers/workers.py
loc
control
